.not-found-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.not-found-image {
  width: 100%;
  max-width: 500px;
}
.not-found-heading {
  font-size: 30px;
  color: #334155;
  margin: 20px 0;
}
.not-found-para {
  color: #7b8794;
  font-size: 16px;
  text-align: center;
}
